.active {
  background-color: #00727A;
  padding: 8px 8px;
  border-radius: 8px;
  color: rgb(248, 248, 161);
}

.navbar-background {
  background-color: rgba(0, 133, 143, 0.7);
}

.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #47F3FF;
  color: #00727A;
  width: 100%;
}